* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
body {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
  line-height: 1.5em;
  font-size: 14px;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;
}
.main {
  min-height: 100px;
  flex-grow: 1;
  min-height: calc(100vh - 199px);
  padding-left: 15px;
  padding-right: 15px;
}
.left-sidebar {
  min-height: 100px;
  /*background-color: orange;*/
  width: 250px;
  order: -1;
  padding: 20px 10px 0 0;
  font-size: 14px;
  line-height: 1.5em;

}
.right-sidebar {
  min-height: 100px;
  /*background-color: #f0f;*/
  width: 240px;
  padding: 20px 0 0 10px;
}
/*.footer {
  min-height: 100px;
  background-color: #00f
}*/

.logo__image {
  display: block;
  margin: 0 auto;
  max-width: 400px; 
  width: 100%;
  padding: 25px;
}
.logo__title {
  display: block;
  text-align: center;
  /*fz2rem*/
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 5px;
  color: #fff;
  padding: 15px 20px;
}
.logo__description {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  padding: 0 20px 15px;
  line-height: 1.75rem;
  letter-spacing: 3px;
}
.menu {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 7px 7px;
}
.menu__list {
  padding: 0;
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.menu__list.active {
  display: block;
}
.menu__item {
  float: left;
  margin-left: 5px;
}
.menu__item:last-child {
  margin-right: 5px;
}
.menu__item a {
  padding: 10px 15px;
  border-radius: 4px;
}
.menu__item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu__item.active a {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu_hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}
.menu_hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  transition: .25s ease-in-out;
}

.menu_hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.menu_hamburger span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.menu_hamburger span:nth-child(1), .menu_hamburger span:nth-child(2) {
  top: 0px;
}

.menu_hamburger span:nth-child(3), .menu_hamburger span:nth-child(4) {
  top: 15px;
}

.menu_hamburger span:nth-child(5), .menu_hamburger span:nth-child(6) {
  top: 30px;
}

.menu_hamburger.open span:nth-child(1),.menu_hamburger.open span:nth-child(6) {
  transform: rotate(45deg);
}

.menu_hamburger.open span:nth-child(2),.menu_hamburger.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.menu_hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.menu_hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.menu_hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.menu_hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.menu_hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.menu_hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}



.breadcrumb {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  text-align: right;
  padding: 10px 30px;
  border-radius: 7px;
}
.breadcrumb a {
  font-weight: bold;  
}
.breadcrumb span {
  color:#ccc;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.breadcrumb .fas {
  color: #fff;
  padding: 0 5px 0 9px;
  font-size: 15px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px

}
.main h1 {
  padding: 8px 12px;
  border-radius: 7px;
  background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  text-align: left;
  color: #eee;
  line-height: 1.5em;
}

.content-item {
 /* height: 50px;
  background-color: #777;*/
  flex-grow: 1;
  padding: 10px;
  /*height: 50px;
  background-color: #777;*/
  width: 33.333%;

}
 .content-item:hover .content-item__excerpt {
    top: 27px;
    color: #ffffff; 
  }
  .content-item:hover h3 {
    background: rgba(0, 0, 0, 0.5); }
  
  
/*.content-item div {
  height: 100%;
  width: 50%;
}*/

.content-item__wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.3);

  /*width: 100%;
*/}
.content-item img{
  margin-bottom: -5px;
  max-width: 100%;
  line-height: 1em;


 }
  .content-item__img {
    background-size: cover;
  }
 .content-item__excerpt {
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  width: 100%;
  height: calc(100% - 27px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: top 0.5s ease-out;
  position: absolute;
  top: 210%;
 }
  .content-item h3 {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 27px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px #000000;
    font-size: 14px;
    line-height: 1em;
    transition: background-color 0.5s;
      }
  .content-item__title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.widget {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 0 0 20px 0;
  border-radius: 7px;
  color: #eee;
}
  .widget h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 1.17em;
    font-weight: bold;
  }
  .widget p {
  line-height: 2em;
  }
.widget-search form {
  position: relative;
  margin: 15px 0 7px 0;
}
.widget-search .fa-search {
  position: absolute;
  margin-top: 1px;
  padding: 7px 9px;
  border-right: 1px solid rgba(225, 225, 225, 0.3);
  color: #eeeeee;
}
.widget-search input {
  box-sizing: border-box;
    padding: 7px 8px 7px 40px;
    width: 100%;
    border: 1px solid rgba(225, 225, 225, 0.3);
    border-radius: 4px;
    background: rgba(225, 225, 225, 0.1);
    color: #aaa;
    text-overflow: ellipsis;
    font-size: 12px;
}

.widget-category__list {
  padding: 0;
  list-style: none;
}

.widget-category__list-item a {
  display: block;
  padding: 10px 0;
} 


.widget-news__item {
  margin-bottom: 10px;
}
.widget-news__item img {
    width: 100%;
    transition: 0.3s ;
 }
.widget-news__item-img-wrapper {
  float: left;
  overflow: hidden;
  margin: 0 10px 15px 0;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.widget-news__item span {
  font-size: 12px;
  text-shadow: 0px 0px 5px #000000;
  color: #ccc;
}
.widget-news__item div {
  line-height: 16px;
}
.widget-news__item a:hover span {
    color: #ffffff; 
}
.widget-news__item a:hover img {
  transform: scale(1.2);
}
.footer {
 
  margin: 10px 0 20px;

}
.footer-top {
  display: flex;

}
.footer-widget {
  box-sizing: border-box;
  width: 25%;
  padding: 10px 15px;
  margin: 0 20px 0 0;
  color: #eeeeee;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.4);

}
    .footer-widget:last-child {
      margin-right: 0;
    }
.footer-top h3 {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin: 0;
}
.footer-bottom {
  box-sizing: border-box;
  color: #eeeeee;
  margin: 20px 0 0 0;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;

}
.footer-bottom h3 {
  margin: 0 auto;
  max-width: 300px;
} 
/*.footer h3 {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}*/
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

@media (max-width: 1024px) {

  .main {
    box-sizing: border-box;
    padding-right: 0;
    width: calc(100% - 250px); }
  .right-sidebar {
    padding-left: 0;
    width: 100%; }
  .footer-top {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .footer-widget {
    width: calc(50% - 10px); }
    .footer-widget:nth-child(2n) {
      margin: 0 0 20px 10px; }
    .footer-widget:nth-child(2n+1) {
      margin: 0 10px 20px 0; } }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .left-sidebar {
    width: 50%;
    order: 0;
  }
  .right-sidebar {
    width: 50%;
  }
  .content-item {
    width: 50%;
  }
  .menu_hamburger {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .menu__item {
    text-align: center;
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  .menu__item a {
    display: block;
  }
}
@media (max-width: 640px) {
  .main {
    margin: 20px 0 0;
    padding: 0; }
  .content-item {
    margin: 0 0 20px;
    width: 100%; }
    .content-item img {
      width: 100%; }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .footer {
    margin: 0 0 20px; }
    .footer .footer-top,
    .footer .footer-bottom {
      margin: 0; }
    .footer .footer-widget {
      margin: 0 0 20px;
      width: 100%; } }
}